<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tienda LJM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Imagen de fondo -->
  <ion-img
    src="/assets/images/background.jpg"
    alt="Market Background"
    class="background-img"
  ></ion-img>

  <!-- Contenedor centrado para el formulario -->
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (submit)="onLogin()">
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="email"
              name="email"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="password"
              name="password"
              required
            ></ion-input>
          </ion-item>
          <div class="ion-padding">
            <ion-button expand="block" type="submit" color="success">
              Ingresar
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>






